.articleGroup {
  --group-heading-margin: 5rem;
}
.articlesContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.articleGroup:first-of-type {
  --group-heading-margin: 1rem;
}

.articleGroup:last-of-type {
  margin: 0 0 5rem 0;
}
