.header {
  overflow: hidden;
  background: var(--yellow);
  height: var(--headerElementHeight);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 100rem;
}

.headerLink {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
}

.headerLink svg {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.headerTitle {
  font-size: 3.2rem;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.headerLink:hover .headerTitle {
  text-decoration: underline;
}

.tagline {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.tagline li {
  font-size: 1.3rem;
  font-weight: 900;
  text-align: right;
  text-transform: uppercase;
}

.main {
  margin: 0;
  padding: 1rem 1.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(
    100vh - var(--headerElementHeight) - var(--footerElementHeight)
  );
  box-sizing: border-box;
}

.contentContainer {
  width: 100rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: black;
  color: white;
  height: var(--footerElementHeight);
  overflow: hidden;
  padding: 0 1rem;
}

.footerContainer {
  display: grid;
  grid-template-columns: 30rem 20rem 16rem 1fr;
  grid-template-rows: 1fr;
  column-gap: 1px;
  height: var(--footerElementHeight);
  width: 100rem;
}

.footerCol1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footerCol1 h1 {
  font-size: 2rem;
  margin: 0;
}

.footerCol1 p {
  font-size: 1.4rem;
  margin: 0;
  margin-top: 1rem;
  margin-right: 2rem;
  align-items: center;
  display: flex;
}
.atProtoLink {
  display: inline-flex;
  align-self: center;
  height: 1.5rem;
  width: 12rem;
  margin-left: 0.5rem;
}

.footerCol2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footerCol2 p {
  font-size: 1.4rem;
  margin: 0;
}

.footerCol2 a {
  color: white;
  text-decoration: none;
}

.footerCol2 a:hover {
  color: var(--yellow);
}
.blueSkyParagraph {
}
.blueSkyLink {
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
}
.blueSkyLink > svg {
  margin-right: 0.3rem;
}
.blueSkyLinkLabel {
  font-size: 1.8rem;
}
.blueSkyLink:hover > svg {
  fill: yellow;
}
.blueSkyLink:hover > .blueSkyLinkLabel {
  color: yellow;
}
.rssLink {
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
}
.rssLink > svg {
  margin-right: 0.3rem;
  height: 2rem;
  width: 2rem;
}
.rssLinkLabel {
  font-size: 1.8rem;
}
.rssLink:hover > svg {
  stroke: yellow;
}
.rssLink:hover > .rssLinkLabel {
  color: yellow;
}

.footerCol2 svg {
  height: 2rem;
}

.footerCol3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--footerElementHeight);
}
.linkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}
.linkList li {
  margin: 1rem 0;
}
.linkList li a {
  color: white;
}
.linkList li a:hover {
  color: yellow;
}

.footerCol4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--footerElementHeight);
  padding: 5rem;
  box-sizing: border-box;
}
.footerCol4 a svg {
  width: 100%;
}

@media screen and (max-width: 799px) {
  .headerLink svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  .headerTitle {
    font-size: 2.2rem;
  }

  .tagline li {
    font-size: 1.1rem;
  }

  .footerContainer {
    grid-template-columns: 50% 50%;
  }

  .footerCol2 {
    display: none;
  }
}
