:root {
  --headerElementHeight: 8rem;
  --footerElementHeight: 16rem;
}

body {
  margin: 0;
  padding: 0;
}
body > header {
  overflow: hidden;
  background: yellow;
  height: var(--headerElementHeight);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > header > div.content-container > h1 {
  font-size: 2.2rem;
  margin: 2.6rem 0;
  padding: 0;
}

body > main {
  margin: 0;
  padding: 1rem 1.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(
    100vh - var(--headerElementHeight) - var(--footerElementHeight)
  );
  box-sizing: border-box;
}
body > footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: black;
  color: white;
  height: var(--footerElementHeight);
  overflow: hidden;
}

body > header > div.content-container,
body > main > div.content-container,
body > footer > div.content-container {
  width: 100rem;
}
