:root {
  --headerElementHeight: 8rem;
  --footerElementHeight: 16rem;
}

body {
  margin: 0;
  padding: 0;
}
body > header {
  overflow: hidden;
  background: yellow;
  height: var(--headerElementHeight);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > header > div.content-container > a {
  text-decoration: none;
  color: black;
}
body > header > div.content-container > a > h1 {
  font-size: 2.2rem;
  margin: 2.6rem 0;
  padding: 0;
  display: inline-block;
}
body > header > div.content-container > a:hover > h1 {
  text-decoration: underline;
}

body > main {
  margin: 0;
  padding: 1rem 1.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(
    100vh - var(--headerElementHeight) - var(--footerElementHeight)
  );
  box-sizing: border-box;
}
body > footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: black;
  color: white;
  height: var(--footerElementHeight);
  overflow: hidden;
}

body > header > div.content-container,
body > main > div.content-container,
body > footer > div.footer-container {
  width: 100rem;
}

body > footer > div.footer-container > div.logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--footerElementHeight);
}
body > footer > div.footer-container > div.logo > svg {
  height: 8rem;
}
