.tileLink {
  text-decoration: none;
  color: black;
  display: inline-flex;
  width: calc(50% - 1rem);
}
.tileLink:hover .articleTitle {
  text-decoration: underline;
}

.tileLink:nth-of-type(odd) {
  padding-right: 1rem;
}
.tileLink:nth-of-type(even) {
  padding-left: 1rem;
}

.articleTitle {
  margin-bottom: 0;
}
.authorName,
.createdDate {
  margin: 0;
  font-size: 1.2rem;
  /* color: rgb(180, 180, 180); */
}
.authorName {
  font-weight: 600;
}
.createdDate {
  font-weight: 300;
}
.contentPreviewContainer {
  height: 8rem;
  font-size: 1.6rem;
  overflow: hidden;
  margin-top: 2rem;
}

.moreButton {
  font-family: "InterVariable", "Inter", sans-serif;
  font-weight: 600;
  background: black;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  float: right;
  border-radius: 0.3rem;
  cursor: pointer;
}
.tileLink:hover .moreButton > span {
  color: var(--yellow);
}
.tileLink:hover .moreButton > svg {
  fill: var(--yellow);
}
.moreButton > span {
  margin-right: 1rem;
}
.moreButton > svg {
  height: 1.5rem;
}

@media screen and (max-width: 799px) {
  .tileLink {
    margin: 0 2rem;
    width: calc(100% - 4rem);
  }

  .tileLink:nth-of-type(odd) {
    padding: 0;
  }
  .tileLink:nth-of-type(even) {
    padding: 0;
  }
}
