.tileLink {
  text-decoration: none;
  color: black;
  display: inline-flex;
  width: 50%;
}
.tileLink:hover .articleTitle {
  text-decoration: underline;
}
.articleTitle {
  margin-bottom: 0;
}
.authorName,
.createdDate {
  margin: 0;
  font-size: 1.2rem;
  /* color: rgb(180, 180, 180); */
}
.authorName {
  font-weight: 600;
}
.createdDate {
  font-weight: 300;
}
.contentPreviewContainer {
  height: 10rem;
  font-size: 1.6rem;
  overflow: hidden;
  margin-top: 2rem;
}
