.articleHeader {
  font-weight: 800;
  margin-bottom: 0;
}
.postContentContainer {
  padding-bottom: 10rem;
}
.author {
  font-weight: 300;
  font-size: 1.6rem;
  color: rgba(140, 140, 140);
  margin-top: 0;
  margin-bottom: 3.2rem;
}

code {
  white-space: break-spaces;
}

@media screen and (max-width: 799px) {
  .postContentContainer p {
    font-size: 1.8rem;
  }
}
